body {
    background-color: rgb(46, 45, 45);
}

.navwrapper {
    background-color: rgb(99, 143, 5);
    height: 12vh;
    top: 0;
    width: 100%;
}

.brand-logo {
    margin: -2px 7px 5px 7px;
}

img {
    height: 100vh;
}

#mapDiv {
    height: 300px;
    width: 300px;
}

#myButton {
    display: none;
}

.myCarousel-object {
    background-color: #0D0D0D;
}
